body{
    background-color: #161620;
    color: white;
}
.btn{
    color: white;
    background-color: black;
    border-color: black;
    --bs-btn-hover-bg: #1d1818;
    --bs-btn-hover-border-color: #1d1818;
    --bs-btn-active-bg: #1d1818;
    --bs-btn-active-border-color: white;
}
#btn-logo{
    color: white;
    background-color: black;
    border-color: black;
    --bs-btn-hover-bg: black;
    --bs-btn-hover-border-color: black;
    --bs-btn-active-bg: black;
    --bs-btn-active-border-color: white;
    text-align: left;
}

.content{
    text-align: center;
}

.content h1{
    font-size: 130px;
    color: #fff;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
}
#btn-cardapio{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: #cd7c4200;
    font-family: 'Times New Roman', Times, serif;
}
                 
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

#container-login{
    background-color: #1a1515;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
}

#ovBTN_login{
    text-decoration: none;
    display: inline-block;
    color: #fff;    
    border: 2px solid #fff;
    padding: 7px 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #cd7c4200;
}